@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Custom colors */
  --color-accent-500: #e17100;
  --color-white-first: #f4f4f4;
  /*Fonts family*/
  --font-noto-sans: "Noto Sans", sans-serif;
  /*Custom width*/
  --width-block-first: 555px;
  --width-image-first: 880px;
  --width-image-second: 1000px;
  --width-image-third: 1271.11px;
  /*Custom breakpoints*/
  --breakpoint-ultraXS: 18rem; /* 288px */
  --breakpoint-mobileXS: 20rem; /* 320px */
  --breakpoint-xs: 23.4375rem; /* 375px */
  --breakpoint-smx: 26.5625rem; /* 425px */
  --breakpoint-xl1440: 90rem;
  --breakpoint-xl1536: 96rem;
}

@layer base {
  :root {
    --content-width: 1360px;
  }

  .section-container {
    @apply mx-auto max-w-[var(--content-width)] px-4 2xl:px-0;
  }
}
