@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Custom colors */
  --color-accent-500: #e17100;
  /*Fonts family*/
  --font-noto-sans: "Noto Sans", sans-serif;
}

@layer base {
  :root {
    --content-width: 1360px;
  }

  .section-container {
    @apply mx-auto max-w-[var(--content-width)] px-4 2xl:px-0;
  }
}
